<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Url"          value="http://demowebshop.tricentis.com/login"/>
    <add key="DriverPath"   value="C:\Drivers"/>
    <add key="ReportsPath"  value="C:\Reports"/>
    <add key="ConsolidatedReport"  value="C:\ExtentReports"/>
    <add key="BrowserType"  value="Chrome"/>
  </appSettings>
</configuration>